* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
/* ================================================================================== */

/* Nav session start */

/* ikut navbar dea */

header {
  display: inline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  border-bottom: 5px solid #3CCF4E;
  width: 100%;
  background-color: white;
  
  position: sticky;
  top: 0;
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}

#fistName {
  font-weight: 700;
}

#lastName {
  color: #3CCF4E;
  font-weight: 400;
  padding: 4px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ikut navbar dea */
.navbar li{
  display: inline;
  margin: 10px;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.teks-paket {
  background-color: #3CCF4E;
  border-radius: 100px;
}

.teks-paket a {
  color: white !important;
}

.navigation a:hover {
  color: #3CCF4E;
}
/* Nav session end */
/* ================================================================================== */
/* Jumbotron session start */
.jumbotron {
  background-image: url('https://i.imgur.com/bpQ2E7t.png');
  /* background-image: url('/assets/images/background.png'); */
  background-position: top;
  background-size: cover;
  box-shadow: 5px 5px 25px #3CCF4E;

  display: flex;
  justify-content: space-between;
  column-gap: 4em;
  
  padding: 100px 50px;
}

.image {
  border-radius: 10px;
}

.teks {
  padding-top: 20px;
}

.judul {
  color: #14701f;
  font-size: 3em;
}

.teks>p {
  font-size: 1.5em;
  color: black;
  padding-top: 10px;
}
/* Jumbotron session end */
/* ================================================================================== */
/* Contents session start */
.contents {
  margin: 20px 50px;
}

.content {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

aside h2 {
  color: #14701f;
  padding-bottom: 10px;
}

.content>aside {
  padding: 10px;
  border-left: 5px solid #3CCF4E;
}

article {
  margin: 10px;
}
/* Contents session end*/
/* ================================================================================== */
/* paket session start */
.paket {
  /* background-image: url('/assets/images/background.png'); */
  background-image: url('https://i.imgur.com/bpQ2E7t.png');
  background-size: cover;
  background-position: center;
  border-top: 2px solid #14701f;
}

.judul-paket {
  text-align: center;
  margin: 10px;
  padding: 20px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-grow: 1;
  margin: 5px;
}

.menu {
  margin: 10px auto;
}

.menu img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  background-color: black;
}

.one {
  /* background-image: url("/assets/images/bali.jpg"); */
  background-image: url(https://www.water-sport-bali.com/wp-content/uploads/2020/07/20-Tempat-Wisata-Untuk-Dikunjungi-Bali.jpg);
}
.two {
  /* background-image: url("/assets/images/surabaya.png"); */
  background-image: url(https://nyero.id/wp-content/uploads/2017/09/Pilihan-Tempat-Wisata-di-Surabaya-dan-Sekitarnya-758x488.png);
}
.three {
  /* background-image: url("/assets/images/bandung.jpg"); */
  background-image: url(https://www.coworking.co.id/wp-content/uploads/2020/11/Tempat-Wisata-di-Bandung.jpg);
}
.four {
  /* background-image: url("/assets/images/jogja.jpg"); */
  background-image: url(https://mytrip123.com/wp-content/uploads/2022/04/wisata-jogja.jpg);
}
.five {
  /* background-image: url("/assets/images/jakarta.jpg"); */
  background-image: url(https://topcareer.id/wp-content/uploads/2020/01/wisata-kota-tua-jakarta_kota-tua_800x450_ccpdm-min-750x450.jpg);
}
.six {
  /* background-image: url("/assets/images/magelang.jpg"); */
  background-image: url(https://dolanyok.com/wp-content/uploads/2018/11/Wisata-Magelang-Gunung-Andong.jpg);
}

.one, .two,
.three, .four,
.five, .six {
  background-position: center;
  height: 300px;
  width: 250px;
  border-radius: 5%;
}

.coba {
  display: flex;
  justify-content: space-around;

  height: 300px;
  padding-top: 55%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  cursor: pointer;
}


/* paket session end */
/* ================================================================================== */
/* Aside session start */

.biodata {
  text-align: center;
  background-color: rgb(245, 245, 247, .8);
  border-radius: 10px;
  width: 400px;
  margin: 20px auto 0 auto;
  padding: 50px;
  color: #14701f;
}

.biodata h3, h1 {
  margin: 10px;
}
.biodata h1 {
  font-size: 2em;
}

.biodata p {
  color: black;
}
.foto {
  max-width: 100px;
  border-radius: 100%;
}

/* Aside session end */
/* ================================================================================== */
/* Footer session start */

.footer {
  text-align: center;
  height: 100px;
  padding: 1em;
  background-color: #1a8526;
  color: white;
}

/* Footer session start */
/* ================================================================================== */
/* Layout responsive */

@media screen and (max-width: 900px) {

  .flex-container,
  .item {
    display: block;
    flex-grow: 2;
  }

}

@media screen and (max-width: 850px){
  .jumbotron {
  width: 100%;
  display: block;
  }
  .navbar a,
  .brand {
    font-size: 1em;
  }
}

@media screen and (max-width:750px) {
  .content img {
    width: 200px;
  }
  
}

@media screen and (max-width: 590px) {
  .jumbotron img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .content {
    display: block;
  }

  .content img {
    width: 100%;
  }

  .biodata {
    width: 70%;
  }
}

@media screen and (max-width:425px) {
  .navbar li {
    margin: auto;
    padding: auto;
  }
}

@media screen and (max-width: 365px) {
  .navbar a,
  .brand {
    font-size: .8em;
  }
}